.service_box {
    width: 100%;
    background: white;
    padding: 58px 0;
    margin-top: 20px;
}
.container {
    width: 1100px;
    margin: 0 auto;
    padding: 18px 0;
}
.service_box h1 {
    text-align: center;
    font-size: 30px;
    color: #212121;
}
.service_box p {
    text-align: center;
    padding: 10px 0;
    color: #4f5959;
}
.api_meal {
    display: flex;
    justify-content: space-between;
	flex-wrap: wrap;
}
.api_meal .api_meal_li {
	width: 30%;
    text-align: center;
    border-radius: 3px;
    padding: 10px 0;
    line-height: 30px;
    margin: 0 10px;
}
.api_meal li h3 {
    background: #ffaa2bfa;
    text-transform: capitalize;
    padding: 15px;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    border-radius: 5px 5px 0 0;
}
.api_j {
    border: 1px solid #e4eaec;
    border-top: none;
}
.api_meal .pirc_h {
    font-size: 26px;
    font-weight: 600;
    color: #ff0f0f;
}
.api_content {
    padding: 0px 20px 0px;
}
.api_content li{
	padding: 10px 0;
}
.api_content li:not(:first-child) {
    border-top: 1px dashed #e4eaec;
}
.api_content a{
	color: #f16e6e;
}
.buy{
	line-height: 40px;
	border: 1px solid #e4eaec;
	border-top: none;
	padding: 10px;
}
.buy button{
	border-radius: 20px;
	border-color: transparent;
	border-radius: 20px;
	color: white;
	cursor: pointer;
	padding: 7px 60px;
    background-image:  linear-gradient(to right,#ff7676 0%,#f09819 100%);
}
.centerDialog .colors{
	font-size: 30px;
}
.pay_type_box,
.pay_scuss{
	display: none;
}
.ze_box{
	  position: fixed;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  background-color: rgba(0, 0, 0, 0.6);
	   opacity: 1;
	    pointer-events: auto;
	  z-index: 10;
}
.pay_box{
	    padding: 20px 20px 40px 20px;
	    box-sizing: border-box;
	    position: fixed;
		left: calc(50% - 250px);
	    top: 30%;
	    background: #fff;
	    z-index: 11;
	    overflow: hidden;
	    width: 500px;
		margin:0 auto;
	    background: #fff;
	    overflow-y: auto;
	    border-radius: 20px;
}
.pay_box h3{
	font-size: 16px;
	padding: 20px 0;
	padding-left: 20px;
}
.pay_box form{
	padding: 20px 0;
	padding-left: 20px;
}
.form_radio_box:nth-child(2){
	margin-left: 20px;
}
.form_radio_box{
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
}
.radio_box{
	    display: inline-block;
	    margin-top: 0;
	    margin-bottom: 0;
	    vertical-align: middle;
}
.zfb_label{
	min-height: 20px;
	padding-left: 0px;
	margin-bottom: 0;
	font-weight: 400;
	cursor: pointer;
}
input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    line-height: normal;
	box-sizing: border-box;
	padding: 0;
}
.zfb_label i{
	font-size: 32px;
	color: #3aa1fb;
}
.pay_button_box{
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.button_ok,
.button_cancel{
	margin-right: 20px;
	display: inline-block;
	height: 38px;
	line-height: 38px;
	padding: 0 18px;
	white-space: nowrap;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
	background-color: #22b2ff;
	color: #fff;
	border: none;
	border-radius: 2px;
}
.pay_button_box .button_cancel{
	background-color: #fff;
	color: #666;
	border: 1px solid #d4cfcf;
	border-radius: 2px;
}
