/* 此页面公用样式 */
hr{
	height: 2px;
	padding: 0;
	margin: 16px 0;
	background-color: #e7e7e7;
	border: 0 none;
	overflow: hidden;
	box-sizing: content-box;
}
.pading_h2{
	padding-left: 20px;
	font-size: 22px;
	font-weight: 700;
}
 .pading_h2 a:hover{
	  text-decoration: underline;
 }
 .pading_h3 a:hover{
	     text-decoration: underline;
 }
 .pading_h4 a:hover{
	 /* color: aqua; */
    text-decoration: underline;
}
.pading_h5 a:hover{
	    text-decoration: underline;
}
.pading_h3{
	font-weight: 600;
	padding-left: 30px;
	font-size: 20px;
	margin-top: 10px;
}

.pading_h4{
	padding-left: 40px;
	font-size: 18px;
		color: #222;
}
.pading_h5{
	padding-left: 60px;
	font-size: 16px;
	color: #222;
}
.title_h2{
	font-size: 26px;
	font-weight: 600;
	line-height: 30px;
	margin: 35px 0 15px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
}
.title_h3{
	font-size: 24px;
	font-weight: 600;
	line-height: 30px;
	margin: 25px 0 15px;
}
.title_h4{
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
	margin: 25px 0 15px;
}
code{
	padding: 2px 4px;
	border-radius: 2px;
	font-size: 16px;
	color: #ff2f2ff5;
	background-color: #f8f8f8;
}
pre{
	white-space: pre-wrap;
	color: #34495e;
	background-color: #f9f9fa;
	padding: 15px;
	/* margin: 1em 0; */
	border-radius: 4px;
	font-size: 14px;
	margin-top: 20px;
}
/*  */
.main{
	max-width: 1200px;
	margin: auto;
}
.document_content{
	display: flex;
	width: 100%;
	height: calc(100vh - 75px);
}
.content_box{
	min-width: 860px;
	margin: 0 auto;
	padding: 36px 30px 100px;
	overflow:hidden auto; 
}
.catallog_box{
	width: 300px;
	margin-top: 80px;
	margin-right: 18px;
}
.catallog_left{
	position: sticky;
	top: 0px;
	max-height: 100%;
	overflow: hidden auto;
	padding-bottom: 30px;
	width: 300px;
	line-height: 28px;
	color: #34495e;
}
.document_h1{
	font-size: 30px;
	font-weight: bold;
	line-height: 40px;
	margin: 20px 0;
}
.content_box p{
	color: #34495e;
	line-height: 25px;
	margin-top: 10px;
}
.content_box ul{
	padding-left: 30px;
	margin: 10px 0;
}
.content_box ul li{
	font-size: 16px;
	line-height: 30px;
	position: relative;
	list-style-type: disc;
}
.content_box ul li::before{
	
}
.pre_hu{
	/* margin-left: 30px; */
}
.pre_hu span{
	line-height: 30px;
}
.bluecolor{
	    color: #23a0ff;
}
.operator_color{
	color: #ff4d00;
}
.string{
	color: #07c160;
}
.number{
	    color: #ff4d00;
}
.keyword_color{
	color: #b457ff;
}
.comment_color{
	color: rgba(0,0,0,.3);
}
.content_box a{
	text-decoration: none;
	color: #46b961;
	font-weight: 600;
	font-size: 18px;
}
.content_box table{
	border-top: 1px solid #dfe2e5;
}
.content_box tr{
	border-top: 1px solid #dfe2e5;
}
.content_box th{
	font-weight: 600;
	white-space: nowrap
}
.content_box td{
	line-height: 25px;
}
.content_box th,
.content_box td{
	vertical-align: middle;
	text-align: left;
	border: 1px solid #dfe2e5;
	padding:10px 20px;
}
.content_box table tr:nth-child(2n), .content_box thead {
    background-color: #fafafa;
}