/* ---------------------reset CSS----------------------- */
body,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dd,
p,
form {
	margin: 0;
}

body {
	font: 14px/1.5 'Microsoft Yahei', tahoma, arial, sans-serif;
	background: #fff;
	color: #000;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input::-webkit-input-placeholder {
	color: #999;
}

input,
textarea,
select {
	font-size: 16px;
	font-family: inherit;
	-webkit-appearance: none;
}

h4,
h5,
h6 {
	font-size: 1em;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

img,
button {
	border: 0;
}

a {
	text-decoration: none;
	color: #333;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

a:hover {
	text-decoration: none;
}

input:focus,
textarea:focus {
	font-size: .32rem !important;
}

/* ---------------------common CSS----------------------- */
.dn {
	display: none;
}

.db {
	display: block;
}

/* line */
.line_tit {
	display: -webkit-box;
	text-overflow: ellipsis;
	overflow: hidden;
	-webkit-box-orient: vertical;
}

.line1 {
	-webkit-line-clamp: 1;
}

.line2 {
	-webkit-line-clamp: 2;
}

.line3 {
	-webkit-line-clamp: 3;
}

.vmm {
	display: flex;
	justify-content: center;
	align-items: center;
}

.vml {
	display: flex;
	justify-content: left;
	align-items: center;
	text-align: left;
}

/* img */
.img {
	display: block;
	width: 100%;
	height: 100%;
}

/* ---------------------wrapper CSS----------------------- */
.max750 {
	max-width: 750px;
	margin: 0 auto;
	overflow: hidden;
}

/* ---------------------header CSS----------------------- */
.header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 1rem;
	background: #fff;
}

.header .logo {
	width: 2.6rem;
	margin-left: .3rem;
}

.header .menu {
	display: flex;
}

.header .menu .li {
	margin: 0 .3rem 0 .15rem;
}

.header .menu .li .iconfont {
	font-size: .42rem;
	color: #23c6a5;
}

.header .menu_nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 9;
}

.header .menu_nav .dt {
	position: relative;
	margin-bottom: .2rem;
	line-height: .82rem;
	font-size: .36rem;
	border-bottom: #ebebeb 1px solid;
	text-align: center;
}

.header .menu_nav .dt .iconfont {
	position: absolute;
	right: .3rem;
	font-size: .38rem;
}

.header .menu_nav .dd .li {
	display: flex;
	align-items: center;
	padding: .2rem .3rem;
	font-size: .36rem;
}

.header .menu_nav .dd .li .iconfont {
	margin-right: .26rem;
	font-size: .36rem;
	color: #b3b3b3;
}

.header .back {
	width: .8705rem;
	text-align: center;
}

.header .back .iconfont {
	font-size: .42rem;
	color: #ccc;
}

.header .tit {
	font-size: .36rem;
	font-weight: 400;
	color: #666;
}

.header .home {
	position: absolute;
	left: .85rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: .8rem;
	height: 100%;
}

.header .home .iconfont {
	font-size: .45rem;
	color: #b3b3b3;
}

.cons .header {
	height: .8rem;
}

.cons .find {
	height: .88rem;
}

.cons .find .form {
	flex: 1;
	display: flex;
	align-items: center;
	height: .72rem;
	margin-right: .4rem;
	background: #f5f8fa;
	border-radius: 20px;
}

.cons .find .form .iconfont {
	margin: 0 .15rem 0 .3rem;
	font-size: .32rem;
	color: #999;
}

.cons .find .form .ipt {
	width: 65%;
	height: 100%;
	font-size: .32rem;
	background: none;
	border: none;
	outline: none;
}

.cons .find .form .ipt::-webkit-input-placeholder {
	color: #999;
}

.cons .find .form .btn {
	height: 60%;
	margin-top: -.1rem;
	padding-left: .3rem;
	font-size: .32rem;
	background: none;
	border-left: #f5f5f5 1px solid;
	color: #666;
}

.cons .find .form .btn:focus {
	outline: none;
}

/* ---------------------main CSS----------------------- */
/* banner */
.main .banner {
	position: relative;
	height: 3.6rem;
}

.main .banner .pic {
	display: block;
	width: 100%;
	margin-top: -.15rem;
}

.main .pagination {
	display: flex;
	justify-content: center;
	position: absolute;
	z-index: 2;
	bottom: .2rem;
	width: 100%;
}

.main .swiper-pagination-switch {
	display: inline-block;
	width: .16rem;
	height: .16rem;
	margin: 0 .15rem;
	border-radius: 100%;
	background: #fff;
	opacity: .9;
	cursor: pointer;
}

.main .swiper-visible-switch {
	background: #aaa;
}

.main .swiper-active-switch {
	background: #23c6a5;
}

/* nav */
.nav {
	display: flex;
	flex-wrap: wrap;
	margin: 0 .2rem;
}

.nav .li {
	width: 25%;
	margin-top: .4rem;
}

.nav .li .a {
	display: block;
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.nav .li .a .ico {
	display: block;
	width: 1rem;
	height: 1rem;
	margin: 0 auto;
	line-height: 1rem;
	border-radius: 40px;
	box-shadow: 0 5px 3px #fafafa;
}

.nav .li .a .tit {
	margin-top: .12rem;
	font-size: .3rem;
	color: #666;
}

.nav .li:nth-child(1) .a .ico {
	background: #ffeeee;
	color: #ff7878;
}

.nav .li:nth-child(1) .a .ico .iconfont {
	font-size: .48rem;
}

.nav .li:nth-child(2) .a .ico {
	background: #e6f2ff;
	color: #5ba8fc;
}

.nav .li:nth-child(2) .a .ico .iconfont {
	font-size: .5rem;
}

.nav .li:nth-child(3) .a .ico {
	background: #f4f0fa;
	color: #a98bd5;
}

.nav .li:nth-child(3) .a .ico .iconfont {
	font-size: .49rem;
}

.nav .li:nth-child(4) .a .ico {
	background: #e1f7fa;
	color: #00b5cb;
}

.nav .li:nth-child(4) .a .ico .iconfont {
	font-size: .51rem;
}

.nav .li:nth-child(5) .a .ico {
	background: #fff3e1;
	color: #febc3f;
}

.nav .li:nth-child(5) .a .ico .iconfont {
	font-size: .52rem;
}
.nav .li:nth-child(6) .a .ico {
	background:#6ddfed;
	color: #fff;
}

.nav .li:nth-child(6) .a .ico .ttk {
	font-size: .52rem;
}


/* line */
.line {
	display: flex;
	align-items: center;
	margin: .4rem .26rem 0;
	background: #fcfcfc;
	border-radius: 5px;
}

.line .tit {
	margin: .3rem;
	font-size: .36rem;
	font-weight: 400;
}

.line .tit span {
	display: block;
	padding: 0 .1rem;
	background: #66d066;
	border-radius: 8px 0 0 0;
	color: #fff;
	transform: skew(-10deg);
}

.line .ul {
	flex: 1;
	margin: 0 .2rem 0 .1rem;
	height: 1.2rem;
	line-height: .6rem;
	overflow: hidden;
}

.line .ul .li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: .3rem;
}

.line .ul .li a {
	width: 80%;
}

.line .ul .li time {
	font-size: .26rem;
	color: #999;
}

/* doctor */
.doclist {
	height: 3.8rem;
	margin-top: .3rem;
	overflow: hidden;
}

.doclist .li {
	width: 3rem;
}

.doclist .li .ipit {
	position: relative;
	display: block;
	width: 2.6rem;
	height: 3.6rem;
	margin-left: .3rem;
	background: radial-gradient(circle, #fff 0, #e5e5e5 100%);
	border-radius: 5px;
	overflow: hidden;
}

.doclist .li:last-child {
	width: 3.2rem;
}

.doclist .li .ipit .ip {
	display: block;
	width: 80%;
	height: 100%;
	padding: 0 10%;
}

.doclist .li .ipit .ip img {
	display: block;
	width: 100%;
	margin-top: .2rem;
}

.doclist .li .ipit .it {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: .3rem 0 .12rem;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .3));
	color: #fff;
	font-size: .36rem;
	font-weight: 400;
	letter-spacing: 1px;
	text-align: center;
}

.cons .doclist {
	height: auto;
	margin-top: 0;
}

.cons .doclist .ul {
	display: flex;
	flex-wrap: wrap;
	margin: 0 .15rem;
}

.cons .doclist .li {
	width: 50%;
	margin-top: .3rem;
}

.cons .doclist .li .ipit {
	width: 3.2rem;
	height: 4.4rem;
	margin: 0 auto;
}

.cons .doclist .li:last-child {
	margin-bottom: .3rem;
}

.cons .doclist .li:last-child .ipit {
	margin-right: auto;
}

.cons .doclist .li .ipit .ip {
	display: block;
	width: 82%;
	height: 100%;
	padding: 0 9%;
}

.cons .doclist .li .ipit .it {
	padding: .4rem .2rem .2rem;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .7));
	text-align: left;
}

.cons .doclist .li .ipit .it .info {
	display: flex;
	align-items: baseline;
	margin-bottom: .02rem;
}

.cons .doclist .li .ipit .it .info .name {
	font-size: .36rem;
}

.cons .doclist .li .ipit .it .info .level {
	margin-left: .12rem;
	font-size: .3rem;
}

.cons .doclist .li .ipit .it .hospi {
	line-height: .4rem;
	font-size: .28rem;
	color: #e5e5e5;
}

/* title */
.main .title {
	position: relative;
	margin: .5rem .3rem 0;
}

.main .title .tit {
	position: relative;
	z-index: 2;
	font-size: .38rem;
	font-weight: 400;
}

.main .title .ico {
	position: absolute;
	left: .1rem;
	bottom: -2px;
	z-index: 1;
	width: 1.72rem;
	height: .2rem;
	border-radius: 100px;
	overflow: hidden;
}

.video .title .ico {
	background: #fae6e6;
}

.audio .title .ico {
	background: #e1edfa;
}

.article .title .ico {
	background: #eee6fa;
}

.answer .title .ico {
	background: #e1f7fa;
}

.doctor .title .ico {
	background: #faeedc;
}

.like .title .ico {
	background: #e1fae2;
}

/*play*/
.play_icon {
	position: absolute;
	left: 50%;
	top: 50%;
	width: .54rem;
	height: .54rem;
	margin: -.27rem 0 0 -.27rem;
	line-height: .54rem;
	text-align: center;
	background: rgba(0, 0, 0, .35);
	border-radius: 100%;
	overflow: hidden;
}

.play_icon .iconfont {
	color: #fff;
	font-size: .26rem;
}

.play_icon .icon-bofang {
	padding-left: 2px;
}

.play_time {
	position: absolute;
	right: .1rem;
	bottom: .1rem;
	width: .8rem;
	height: .3rem;
	line-height: .3rem;
	font-size: .2rem;
	text-align: center;
	background: rgba(0, 0, 0, .35);
	border-radius: 30px;
	color: #fff;
	overflow: hidden;
}

/* list */
.main .list .li {
	position: relative;
	z-index: 2;
	padding: .3rem;
	background: #fff;
	border-bottom: 1px #f5f5f5 solid;
}

.main .list .li:hover {
	background: #fafafa;
}

.main .list .li:last-child {
	border-bottom-width: 0;
}

.main .list .li .ip {
	position: relative;
	border-radius: 3px;
	overflow: hidden;
}

.main .list .li .tit {
	font-size: .34rem;
	font-weight: 400;
}

.main .list .li .info {
	font-size: .26rem;
	color: #999;
}

.main .list .li .info .iconfont {
	font-size: .3rem;
}

.main .list .dt .ipit .play_icon {
	width: .9rem;
	height: .9rem;
	margin: -.45rem 0 0 -.45rem;
	line-height: .9rem;
}

.main .list .dt .ipit .play_icon .iconfont {
	font-size: .48rem;
}

.main .list .dt .ipit .play_time {
	right: .2rem;
	bottom: .2rem;
	width: 1.2rem;
	height: .5rem;
	line-height: .5rem;
	font-size: .26rem;
}

/* same */
.same .list .li .ipit {
	display: flex;
}

.same .list .li .ipit .ip {
	width: 2.24rem;
	margin-right: .24rem;
}

.video .list .li .ipit .ip {
	width: 2.35rem;
	height: 1.32rem;
}

.video .list .li .ipit .ip span {
	position: absolute;
	z-index: 3;
	top: .08rem;
	left: .36rem;
	color: #fff;
	font-size: .3rem;
	letter-spacing: 2px;
}

.video .list .li .ipit .ip .icon-xinshuqian {
	position: absolute;
	z-index: 2;
	top: -.36rem;
	left: .1rem;
	font-size: 1.12rem;
	color: #fa9700;
}

.article .list .li .ipit .ip {
	height: 1.48rem;
}

.same .list .li .ipit .it {
	position: relative;
	flex: 1;
}

.same .list .li .ipit .tit {
	padding-top: .04rem;
}

.same .list .li .ipit .info {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.same .list .dt .ipit {
	display: block;
}

.same .list .dt .ipit .ip {
	width: 100%;
	height: 3.8rem;
}

.article .list .dt .ipit .ip .img {
	position: absolute;
	top: 50%;
	width: 100%;
	height: 4.56rem;
	margin-top: -2.4rem;
}

.same .list .dt .ipit .tit {
	padding: 0 0 .1rem;
}

.same .list .dt .ipit .info {
	position: relative;
	margin-top: .1rem;
}

.article .list .th .ipit {
	display: block;
}

.article .list .th .ipit .ip {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.article .list .th .ipit .ip .img {
	width: 2.24rem;
}

.article .list .th .ipit .tit {
	padding: 0 0 .1rem;
}

.article .list .th .ipit .info {
	position: relative;
	margin-top: .1rem;
}

/* audio */
.audio .list {
	display: flex;
	flex-wrap: wrap;
	padding: 0 .15rem;
}

.audio .list .li {
	width: 50%;
	padding: .3rem 0;
}

.audio .list .li .ipit {
	display: block;
	margin: 0 .15rem;
}

.audio .list .li .ipit .ip {
	height: 1.3rem;
}

.audio .list .li .ipit .tit {
	margin: .1rem 0;
}

.audio .list .li .ipit .info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.audio .list .li .ipit .info .iconfont {
	font-size: .28rem;
}

.audio .list .dt {
	width: 100%;
}

.audio .list .dt .ipit .ip {
	height: 2.7rem;
}

.audio .list .dt .ipit .tit {
	margin-top: 0;
}

.audio .list .dt .ipit .info {
	margin-top: .1rem;
}

.audio .list .li:nth-child(4) {
	border-bottom-width: 0;
}

/* answer */
.answer .list .ipit .ico {
	display: flex;
	justify-content: center;
	align-items: center;
	width: .4rem;
	height: .4rem;
	margin-right: .2rem;
	border-radius: 3px;
	color: #fff;
	font-size: .24rem;
	overflow: hidden;
}

.answer .list .ipit .q {
	display: flex;
	font-size: .34rem;
	font-weight: 400;
}

.answer .list .ipit .q .ico {
	margin-top: .04rem;
	background: #ffbb44;
}

.answer .list .ipit .a {
	display: flex;
	margin-top: .24rem;
}

.answer .list .ipit .a .ico {
	margin-top: .08rem;
	background: #8ac03b;
}

.answer .list .ipit .a .txt {
	flex: 1;
	line-height: .5rem;
	font-size: .32rem;
	text-align: justify;
	color: #666;
}

.answer .list .ipit .info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: .15rem;
	text-indent: .6rem;
}

/* list_nav */
.list_nav .box {
	position: relative;
	z-index: 8;
	width: 100%;
	max-width: 750px;
	overflow-x: auto;
}

.list_nav .box .ul {
	overflow-x: auto;
	white-space: nowrap;
	padding-top: .2rem;
	background: #fff;
}

.list_nav .box .ul::-webkit-scrollbar {
	display: none;
}

.list_nav .box .ul .li {
	display: inline-block;
	margin-right: .3rem;
	font-size: .32rem;
	text-align: center;
	color: #999;
	cursor: pointer;
	transition: all .3s;
}

.list_nav .box .ul .li:first-child {
	margin-left: .24rem;
}

.list_nav .box .ul .li .line {
	display: block;
	width: .36rem;
	height: 3px;
	margin: .1rem auto 0;
	background: #fff;
}

.list_nav .box .ul .on {
	font-weight: bold;
	color: #66d066;
}

.list_nav .box .ul .on .line {
	background: #66d066;
}

/* list_ul */
.list .li .ipit .doc {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: .15rem;
}

.answer .list .li .ipit .doc {
	margin-top: .2rem;
}

.list .li .ipit .doc .dl {
	display: flex;
	align-items: center;
}

.list .li .ipit .doc .dl .pic {
	width: .45rem;
	height: .45rem;
	border-radius: 100%;
	margin-right: .15rem;
	overflow: hidden;
}

.list .li .ipit .doc .dl .name {
	display: flex;
	align-items: center;
	font-size: .3rem;
	color: #333;
}

.list .li .ipit .doc .dl .level {
	margin-left: .1rem;
	padding: .05rem .16rem;
	font-size: .26rem;
	background: #f2f6fa;
	border-radius: 20px;
	color: #999;
}

.list .li .ipit .doc .nums {
	font-size: .26rem;
	color: #999;
}

.list .li .ipit .doc .nums .iconfont {
	font-size: .3rem;
}

/* detail */
.detail .vbox {
	display: block;
	height: 4.2rem;
	object-fit: fill;
	outline: none;
	overflow: hidden;
}

.detail .abox {
	display: block;
	width: 100%;
	margin-top: .5rem;
}

.detail .con {
	padding: 0 .3rem;
	overflow: hidden;
}

.detail .h1 {
	margin-top: .3rem;
	line-height: .6rem;
	font-size: .44rem;
	font-weight: 400;
}

.detail .scan {
	display: flex;
	align-items: center;
	margin-top: .1rem;
	font-size: .26rem;
	color: #999;
}

.detail .scan .iconfont {
	font-size: .3rem;
}

.detail .doc {
	display: flex;
	align-items: center;
	margin-top: .4rem;
}

.detail .doc .pic {
	display: flex;
	width: .84rem;
	height: .84rem;
	margin-right: .2rem;
	border-radius: 100%;
	overflow: hidden;
}

.detail .doc .info {
	flex: 1;
}

.detail .doc .info .name {
	font-size: .32rem;
}

.detail .doc .info .level {
	font-size: .28rem;
	color: #666;
}

.detail .doc .info .hospi {
	font-size: .28rem;
	color: #999;
}

.detail .doc .info .ico {
	padding: .02rem .05rem 0;
	font-size: .24rem;
	border: 1px solid #ffa800;
	border-radius: 3px;
	color: #ffa800;
}

.detail .h3 {
	margin-top: .5rem;
	font-size: .36rem;
	color: #333;
}

.detail .artic {
	margin-top: .4rem;
}

.detail .write {
	margin-bottom: .3rem;
}

.detail .write p {
	margin-top: .2rem;
	line-height: .6rem;
	font-size: .36rem;
	text-align: justify;
	color: #333;
}

.detail .write img {
	display: block;
	width: 100%;
	height: 100%;
}

.detail .desc {
	margin-top: .3rem;
	line-height: .58rem;
	font-size: .34rem;
	text-align: justify;
	color: #666;
}

.detail .con .time {
	display: block;
	margin-top: .2rem;
	font-size: .3rem;
	color: #666;
}

.detail .h2 {
	margin: .4rem .3rem 0;
	font-size: .36rem;
	font-weight: 400;
	color: #333;
}

/*readmore*/
#contTab {
	display: none;
}

.content-more {
	display: none;
}

#contTab:checked~#cont {
	max-height: 3rem;
	overflow: hidden;
}

#contTab:checked~.content-more {
	position: relative;
	display: block;
	padding: .3rem 0;
	text-align: center;
}

#contTab:checked~.content-more .gradient {
	position: absolute;
	left: 0;
	top: -1.58rem;
	width: 100%;
	height: 1.6rem;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#fff));
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), #fff);
	background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0), #fff);
}

#contTab:checked~.content-more .readmore {
	display: inline-block;
	width: 2.8rem;
	margin: .2rem auto 0;
	line-height: .7rem;
	font-size: .3rem;
	text-align: center;
	background: #fff;
	color: #54acc9;
	border-radius: 20px;
	color: #999;
	box-shadow: 0 0 4px #ccc;
	cursor: pointer;
}

#article #contTab:checked~#cont {
	max-height: 5.5rem;
}

/* tablist */
.tablist {
	padding: .3rem 0;
	overflow: hidden;
}

.tablist .tab_tit {
	display: flex;
	align-items: flex-end;
	margin: .1rem .3rem .2rem;
	border-bottom: #efefef 1px solid;
}

.tablist .tab_tit li {
	position: relative;
	width: 33.33%;
	padding-bottom: .15rem;
	font-size: .3rem;
	text-align: center;
	color: #666;
	cursor: pointer;
}

.tablist .tab_tit li i {
	position: absolute;
	left: 50%;
	bottom: 1px;
	display: block;
	width: .4rem;
	height: 3px;
	margin-left: -.2rem;
	background: #fefeff;
}

.tablist .tab_tit .on {
	font-size: .32rem;
	font-weight: 700;
}

.tablist .tab_tit .on i {
	opacity: .8;
}

.vdo .tab_tit .on {
	color: #ff7878;
}

.vdo .tab_tit .on i {
	background: #ff7878;
}

.ado .tab_tit .on {
	color: #5ba8fc;
}

.ado .tab_tit .on i {
	background: #5ba8fc;
}

.art .tab_tit .on {
	color: #a98bd5;
}

.art .tab_tit .on i {
	background: #a98bd5;
}

.ans .tab_tit .on {
	color: #00b5cb;
}

.ans .tab_tit .on i {
	background: #00b5cb;
}

.tablist .tab_con .public .list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 .3rem;
}

.tablist .tab_con .public .list .li {
	width: 48%;
	margin: .2rem 0;
	padding: 0;
	background: #fcfcfc;
	border: none;
	border-radius: 6px;
	overflow: hidden;
}

.tablist .tab_con .public .list .li .it {
	margin: .22rem .22rem .18rem;
}

.tablist .tab_con .public .list .li .tit {
	font-size: .3rem;
	color: #333;
}

.tablist .tab_con .public .list .li .info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: .15rem;
	font-size: .24rem;
}

.tablist .tab_con .public .list .li .info .iconfont {
	font-size: .24rem;
}

.tablist .tab_con .answer .list .li,
.tablist .tab_con .article .list .li {
	padding: .2rem .3rem;
}

.tablist .tab_con .answer .list .ipit .ico {
	width: .32rem;
	height: .32rem;
	margin-right: .18rem;
}

.tablist .tab_con .answer .list .ipit .q {
	font-size: .32rem;
	color: #333;
}

.tablist .tab_con .answer .list .ipit .a {
	margin-top: .18rem;
}

.tablist .tab_con .answer .list .ipit .a .txt {
	line-height: .48rem;
	font-size: .3rem;
}

.tablist .tab_con .answer .list .ipit .info {
	text-indent: .52rem;
}

/*doc_ad*/
.doc_ad {
	display: flex;
	align-items: center;
	height: 3.6rem;
	background: radial-gradient(circle, #eff2f7 0, #e9eef4 100%);
	overflow: hidden;
}

.doc_ad .ip img {
	display: block;
	width: 2.5rem;
	margin: 1rem .2rem 0;
}

.doc_ad .it {
	flex: 1;
}

.doc_ad .it .info {
	display: flex;
	align-items: baseline;
}

.doc_ad .it .info .name {
	font-size: .36rem;
	font-weight: 700;
}

.doc_ad .it .info .level {
	margin-left: .2rem;
	font-size: .32rem;
	color: #333;
}

.doc_ad .it .hospi {
	margin-top: .1rem;
	font-size: .3rem;
	color: #4d4d4d;
}

.doc_ad .it .good {
	margin: .2rem .2rem 0 0;
	font-size: .28rem;
	text-align: justify;
	color: #666;
}

.doc_ad .it .num {
	display: flex;
	margin-top: .24rem;
}

.doc_ad .it .num .li {
	margin-right: .26rem;
	padding-right: .26rem;
	border-right: #e6e9ed 1px solid;
	text-align: center;
}

.doc_ad .it .num .li:last-child {
	border-right: none;
}

.doc_ad .it .num .li span {
	font-size: .3rem;
	color: #333;
}

.doc_ad .it .num .li p {
	font-size: .28rem;
	color: #999;
}
.consult{
	text-align: center;
	margin-top: 0.2rem;
}
.consult a{
	display: inline-block;
	padding: 0.05rem 0.2rem;
	border:0.01rem solid #00b5cb;
	border-radius: 20px;
	color: #00b5cb;
	font-weight: bold;
	font-size: .28rem;
}

.consult_min a{
	display: inline-block;
	padding: 0.03rem 0.2rem;
	border:0.01rem solid #00b5cb;
	border-radius: 20px;
	color: #00b5cb;
	font-weight: bold;
	font-size: .28rem;
}
.consult_andetail a{
	display: inline-block;
	padding: 0.03rem 0.2rem;
	border:0.01rem solid #00b5cb;
	border-radius: 20px;
	color: #00b5cb;
	font-weight: bold;
	font-size: .28rem;
	margin-left: 0.3rem;
}
.doc_it .h3 {
	margin-top: .4rem;
	font-size: .34rem;
	color: #333;
}

.doc_it .text p {
	margin-top: .15rem;
	line-height: .6rem;
	font-size: .36rem;
	text-align: justify;
	color: #333;
}

.doc_it .text:last-child {
	margin-bottom: .3rem;
}

.doc_nav .box .ul {
	display: flex;
	margin-top: .3rem;
}

.doc_nav .box .ul .li {
	width: 25%;
	margin-right: 0;
}

.doc_nav .box .ul .li:first-child {
	margin-left: 0;
}

/*search*/
.search .tit {
	margin: .4rem .3rem 0;
	font-size: .3rem;
	font-weight: 400;
	color: #999;
}

.search .ul {
	display: flex;
	flex-wrap: wrap;
}

.search .li {
	width: 50%;
	margin-top: .3rem;
}

.search .li a {
	display: block;
	padding-left: .3rem;
	font-size: .34rem;
}

.search .li:nth-child(odd) a {
	border-right: #e5e5e5 1px solid;
}

.none {
	display: block;
	width: 75%;
	margin: .5rem auto .1rem;
}

/* backtop */
.backtop {
	position: fixed;
	bottom: .8rem;
	right: .3rem;
	z-index: 9;
	display: flex;
	justify-content: center;
	align-items: center;
	width: .88rem;
	height: .88rem;
	background: rgba(102, 208, 102, .6);
	border-radius: 20px;
}

.backtop .iconfont {
	font-size: .36rem;
	color: #fff;
}

/* ad */
.ad_big {
	position: relative;
	z-index: 1;
	margin-top: -.1rem;
	border-bottom: 1px #f5f5f5 solid;
}

.ad_two {
	padding: .3rem 0;
	border-bottom: 1px #f5f5f5 solid;
}

.ad_like {
	margin-top: .06rem;
}

.ad_foot {
	margin-top: .1rem;
}

#ad .list .li,
#ad .doc_it {
	padding-left: .2rem;
	padding-right: .2rem;
}

#ad .audio .list {
	padding: 0;
}

#ad .audio .list .li {
	padding: .3rem .05rem;
}
/* 急速问医 */
.topseep_box{
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 8;
	display: block;
	width: calc(100% - 0.2rem);
	padding: 0.2rem 0.1rem;
	background: #e6f9fd;
}
.topseep_box .topseep_title{
	display: flex;
	align-items: center;
}
.topseep_box h3{
	font-size: 0.36rem;
}
.topseep_box .topseep_title span{
	margin-left: 0.1rem;
	padding: 0 0.1rem;
	justify-content: center;
	display: flex;
	align-items: center;
	font-size: 0.28rem;
	background: #ff0000;
	border-radius: 8px;
	color: #fff;
	height: 0.4rem;
	overflow: hidden;
}
.topseep_cont{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.topseep_cont ul{
	display: flex;
	 list-style: disc;
}
.topseep_cont ul li{
	font-size: 0.28rem;
	text-indent: -3px;
	margin-left: 0.4rem;
}
.topseep_cont p {
    margin-left: 0.1rem;
    padding: 0 0.25rem;
    line-height: 0.52rem;
    font-size: 0.28rem;
    background: rgb(0,183,195);
    border-radius: 20px;
    color: #fff;
    overflow: hidden;
}
/* ---------------------screen CSS----------------------- */
@html {
	font-size: 100px;
}

@media screen and (min-width:320px) {
	html {
		font-size: 42.66667px
	}
}

@media screen and (min-width:360px) {
	html {
		font-size: 48px
	}
}

@media screen and (min-width:375px) {
	html {
		font-size: 50px
	}
}

@media screen and (min-width:384px) {
	html {
		font-size: 51.2px
	}
}

@media screen and (min-width:400px) {
	html {
		font-size: 53.34px
	}
}

@media screen and (min-width:414px) {
	html {
		font-size: 55.2px
	}
}

@media screen and (min-width:424px) {
	html {
		font-size: 56.54px
	}
}

@media screen and (min-width:480px) {
	html {
		font-size: 64px
	}
}

@media screen and (min-width:540px) {
	html {
		font-size: 72px
	}
}

@media screen and (min-width:720px) {
	html {
		font-size: 96px
	}
}

@media screen and (min-width:750px) {
	html {
		font-size: 100px
	}
}

@font-face {
	font-family: "iconfont";
	/* Project id 2557062 */
	src: url('iconfont.ttf?t=1639556087850') format('truetype');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-shijian:before {
	content: "\e60a";
}

.icon-home:before {
	content: "\e608";
}

.icon-zuo:before {
	content: "\e604";
}

.icon-baike:before {
	content: "\e603";
}

.icon-zhibo:before {
	content: "\e607";
}

.icon-wenda:before {
	content: "\e62c";
}

.icon-wenzhang:before {
	content: "\e6b3";
}

.icon-yuyin:before {
	content: "\e614";
}

.icon-yisheng:before {
	content: "\e60f";
}

.icon-shipinguanlifuwu:before {
	content: "\e638";
}

.icon-cha:before {
	content: "\e613";
}

.icon-gengduo-2:before {
	content: "\e615";
}

.icon-toutiao2:before {
	content: "\e640";
}

.icon-yueduliang:before {
	content: "\e645";
}

.icon-xinshuqian:before {
	content: "\e6f3";
}

.icon-jiangpai:before {
	content: "\e635";
}

.icon-yinpin:before {
	content: "\e63f";
}

.icon-lower-triangle:before {
	content: "\e600";
}

.icon-bofang:before {
	content: "\e681";
}

.icon-een1:before {
	content: "\e602";
}

.icon-xiangyou:before {
	content: "\e605";
}

.icon-nanke:before {
	content: "\e610";
}

.icon-zhongliuke:before {
	content: "\e623";
}

.icon-meirong:before {
	content: "\e601";
}

.icon-sousuo1:before {
	content: "\e655";
}

.icon-pifuxingbingke:before {
	content: "\e71f";
}

.icon-wuguanke:before {
	content: "\e61e";
}

.icon-fukeruxian:before {
	content: "\e634";
}

.icon-gangchangke:before {
	content: "\e6b5";
}

.icon-icon:before {
	content: "\e662";
}

.icon-fuchanke:before {
	content: "\e657";
}

.icon-jingshenxinlike:before {
	content: "\e632";
}

.icon-buyunbuyu:before {
	content: "\e64e";
}

.icon-yankejiancha:before {
	content: "\e609";
}

.icon-neike:before {
	content: "\e606";
}

.icon-erke:before {
	content: "\e60e";
}
/* new icon */
@font-face {
  font-family: "ttk"; /* Project id 4005981 */
  src: url('https://at.alicdn.com/t/c/font_4005981_gpoa4ner97m.woff2?t=1681107444435') format('woff2'),
       url('https://at.alicdn.com/t/c/font_4005981_gpoa4ner97m.woff?t=1681107444435') format('woff'),
       url('https://at.alicdn.com/t/c/font_4005981_gpoa4ner97m.ttf?t=1681107444435') format('truetype');
}

.ttk {
  font-family: "ttk" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e617";
}

.icon-wenda2:before {
  content: "\e673";
}
